bleach==3.0.2
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
cmarkgfm==0.4.2
decorator==4.3.0
docutils==0.14
future==0.17.1
idna==2.7
mkl-fft==1.0.6
mkl-random==1.0.1
networkx==2.2
numpy==1.15.3
pkginfo==1.4.2
pycparser==2.19
Pygments==2.2.0
readme-renderer==22.0
requests==2.20.0
requests-toolbelt==0.8.0
scipy==1.1.0
six==1.11.0
tqdm==4.28.0
twine==1.12.1
urllib3==1.24
webencodings==0.5.1
